*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px;
    box-shadow: 5px 5px 20px rgb(0, 0, .5);
    background-color: black;
}
#navbarSunpportedContent{
    color: #fff;
    border-bottom: 2px solid transparent;
}
#avbarSunpportedContent a:hover{
    border-bottom: 2px solid blueviolet;
}
#About{
   padding: 20px;
   background-color: whitesmoke;
    
}

.card{
    transition: 0.5s ease;
    cursor: pointer;
}
.card:hover > :not(:hover){
    opacity: 0.3;
}
.card:hover{
    transform: scale(1.1);
}